{deps, [{jsonx, {git, "https://github.com/alertlogic/jsonx.git", {branch, master}}}]}.

{erl_opts, [{platform_define, "^1[89]|^[2-9][0-9]+", maps_support},
            {platform_define, "^1[89]|^[2-9][0-9]+", has_rand},
            inline_list_funcs,
            warn_deprecated_function,
            warn_export_vars,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_unused_function,
            warn_unused_import,
            warnings_as_errors,
            debug_info]}.

{xref_checks, [fail_on_warning,
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{dialyzer, [{warnings, [error_handling,
                        race_conditions,
                        unmatched_returns,
                        unknown,
                        no_improper_lists]}]}.

{validate_app_modules, true}.

{profiles, [{test, [{erl_opts, [nowarn_export_all, debug_info]}]}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
